body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: "Roboto", sans-serif;
}
button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

img {
    width: 20px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;

}

.leftside {
    background: linear-gradient(#e66465, #9198e5);
    padding: 30px 20px 0px 20px;
    border: 1px solid #2F3C7E;

    display: flex;
    flex-direction: column;

    color: white;
    font-weight: bold;
}
.logo {
    display: flex;
}

.logo>img {
    width: 30px;
}

.logo>span {
    font-size: 1.5rem;
    font-weight: bold;

    margin-left: 10px;
}

.main-nav {
    padding: 40px 0;
}

.main-nav>div>span, .support-block>div>span {
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
}

.support-block {
    padding-top: 40px;
}

.top {
    height: 15vh;
    box-shadow: 0 2px 5px black;
    padding: 30px 50px;
    
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.link-block {
    display: flex;
    justify-content: space-between;
}

#search-container {
    display: flex;
    gap: 10px;
}

#search-container>button>a>img {
    height: 100%;
    width: 20px;
    border: none;
}

#search-bar {
    width: 55vw;
    border-radius: 12px;
    border: 1px solid #FBEAEB;
    background-color: #FBEAEB;
}

.link-block>span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-block>span>img {
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
}

.link-block>span>span {
    font-weight: bold;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
}

.left-small {
    display: flex;
    align-items: center;
}

.left-small>img {
    border-radius: 50%;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.right-small {
    width: 30vw;

    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.right-small>button {
    max-width: 100px;
    margin-right: 0;

    padding: 10px 15px;
    border-radius: 20px;
    width: 40%;
    text-align: center;

    background-color: #2F3C7E;
    color: white;
    font-weight: bold;
}

.bottom {
    padding: 25px 15px 50px 15px;
    background-color: #FBEAEB;

    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;

}
.left-bottom {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 70px;
}

.article {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;

}

.card {
    position: relative;
    border: 1px solid rgb(150, 150, 150);
    border-left-color: #9198e5;
    box-shadow: 2px 2px 2px rgb(150, 150, 150);
    border-radius: 8px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background: linear-gradient(#e66465, #9198e5);
    box-shadow: 2px 0 4px #9198e5;

}

.card-content {
    margin: 0 25px;
}

.card-link {
    position: absolute;
    bottom: 15px;
    right: 15px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.card-content>h3 {
    font-size: 20px;
    font-weight: bold;
}

.right-bottom {
    display: grid;
    grid-column: 2 / 3;

}

.notice-card-top {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1 / 2;
    border: 1px solid rgb(150, 150, 150); 
    box-shadow: 2px 2px 2px rgb(150, 150, 150);
    border-radius: 8px;
    padding: 0 20px;
    
}

.notice-card-top>div {
    text-align: center;
}

.notice-card-top>div:nth-child(-n+2) {
    border-bottom: 1px solid rgba(150, 150, 150, 0.562);
}

.notice-card-block {
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: repeat(4, 1fr);
    padding: 25px 20px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 2px 2px 2px rgb(150, 150, 150);
    border-radius: 8px;
}

.notice-card-block > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 22px;
}

.notice-card-block>div>img {
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
}